name: Deploy Javadoc

on:
  release:
    types: [ released ]

jobs:
  javadoc:
    runs-on: ubuntu-latest
    
    permissions:
      contents: write
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: adopt
          
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        
      - name: Generate Javadoc
        run: ./gradlew javadoc

      - name: Deploy to Github Pages
        uses: JamesIves/github-pages-deploy-action@v4.6.0
        with:
          folder: invui/build/docs/javadoc/
